@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@400;900&family=Roboto:wght@400;900&display=swap");


body {
  background: linear-gradient(116.82deg, #F4E4B7 -50%, #F2EAD3 104.42%);
  overflow: hidden;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  height: 9vh;
  left: 0px;
  top: 0px;
  padding: 20px 100px;
  background: linear-gradient(90.75deg, #4588BB -3.36%, #25A8B7 104.42%);
  mix-blend-mode: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.container {
  background: #fff;
  width: 1080px;
  height: 640px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo a{
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 62px;
  color: #504C44;
  -webkit-text-stroke: 0.5px white;
  text-decoration: none;
}


.navbar .btnNotes {
  margin-left: 970px;
  width: 115px;
  height: 37px;
  background-color: #F5E8C2;
  border-radius: 55px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.1em;
  font-family: 'Noto Serif';
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .btnNotes a{
  color: black;
  text-decoration: none;
}

.navbar .btnNotes:hover{
  transform: scale(1.1); 
  opacity: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
  background-color: #FFC107;
}

.userpic {
  margin-right: 40px;
  width: 45px;
  cursor: pointer;
  margin-left: 50px;
}

.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 0%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
  max-height: 400px;
}

.sub-menu{
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  border-radius: 5%;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info h2{
  width: 100%;
  font-size: 20px;
}

.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link h3{
  font-size: 16px;
  width: 100%;
  font-family: 'Lora';
  opacity: 0.8;
}

.sub-menu-link img{
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.25s ;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
  font-weight: 700;
}

.sub-menu-link:hover h3{
  opacity: 1;
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #a79d70;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.CTA {
  width: 80px;
  height: 40px;
  right: -0px;
  bottom: -150px;
  margin-bottom: 90px;
  position: absolute;
  z-index: 1;
  background: #a79d70;
  font-size: 1em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 55px;
  text-decoration: none;
}   

.CTA h1{
  color: #fff;
  margin-top: 10px;
  margin-left: 19px;
  font-size: 1em;
}

.CTA a{
  text-decoration: none;
}

.CTA:hover {
  background:#a79d70;
  transform: scale(1.1);
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: linear-gradient(90.75deg, #4588BB -3.36%, #25A8B7 104.42%);
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

nav a {
  list-style: none;
  padding: 35px;
  color: #f5eeb6;
  font-size: 2.1em;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-left: 30px;
  margin-top: 30px
}

nav a:hover {
  color: #a79d70;
  transform: scale(1.2);
  cursor: pointer;
}

nav a:first-child {
  margin-top: 7px;
}

.active {
  color: #a79d70;
}

.rightbox {
  float: right;
  width: 65%;
  height: 100%;
}

.tabShow {
    transition: all .5s ease-in;
    width: 80%;
    
}

.profile {
  position: absolute;
  width: 70%;
}



h1 {
  font-family: "Montserrat", sans-serif;
  color: #a79d70;
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-right: 10px;
  margin-top: 40px;
}

.input, p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3fb6a8, rgba(126, 211, 134, 0.5)) 1
    0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 7px 0;
  color: #070707;
}

span {
    font-size: .7em;
    color: #777;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  color: #1098be;
  padding:7px 15x;
  cursor: pointer;
  border-radius: 2px;
  
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}



@media (max-width: 700px) {
  .footer-nav ul{
      flex-direction: column;
  }
  .footer-nav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}




