/* Homepage */

body{
position: relative;
width: 1440px;
height: 1096px;

background: linear-gradient(116.82deg, #F5E8C2 0%, #F2EAD3 100%);
mix-blend-mode: normal;
}

.bg1 {
position: absolute;
width: 100vw;
height: auto;
left: 0px;
top: 71px;
}

.bg2 {
position: static;
width: 100vw;
height: auto;
left: 0px;
top: 72px;

background: linear-gradient(116.82deg, #F5E8C2 0%, #F2EAD3 100%);
}

.bg3 {
position: absolute;
width: 575.37px;
height: 511.25px;
left: 1100px;
top: 218px;

}

h1{
position: absolute;
width: 480px;
height: 114px;
left: 250px;
top: 286px;
    
font-family: 'Noto Serif';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 57px;
    
color: #000000;
}

p{
position: absolute;
height: 25px;
left: 250px;
top: 431px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #000000;
}

a{
position: absolute;
margin-top: 1rem;
width: 470px;
height: 69px;
left: 250px;
top: 456px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #000000;

}

.p1 {
position: absolute;
height: 25px;
left: 250px;
top: 553px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;


color: #000000;
}

.a1 {
position: absolute;
margin-top: 1rem;
width: 470px;
height: 46px;
left: 250px;
top: 578px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #000000;
}

.p2 {
position: absolute;
height: 25px;
left: 250px;
top: 654px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;


color: #000000;
}

.a2 {
position: absolute;
width: 455px;
height: 46px;
left: 250px;
top: 679px;

font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #000000;
}

.page-header {
position: fixed;
width: 100%;
height: 7.5vh;
left: 0px;
top: 0px;

background: linear-gradient(90.75deg, #4588BB -3.36%, #25A8B7 104.42%);
mix-blend-mode: normal;
}

.judul {
position: fixed;
width: 178px;
height: 63px;
left: 80px;
top: 0px;


font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 62px;

color: #504C44;
}


.button {
align-items: flex-end;
display: flex;
gap: 40px;
height: 50px;
left: 1190px;
min-width: 480px;
position: fixed;
top: 13px;

}

.notes {
position: absolute;
letter-spacing: 0;
line-height: normal;
min-height: 20px;
min-width: 34px;

}

.overlap-button {
position: absolute;
align-items: center;
align-self: flex-start;
background-color: #F5E8C2;
border-radius: 55px;
display: flex;
height: 48px;
min-width: 90px;
padding: 0 28px;
opacity: 0,6;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.3s ease;
}

.overlap-button:hover {
transform: scale(1.1); 
opacity: 1;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
background-color: #FFC107;
}



.button1 {
align-items: flex-end;
display: flex;
gap: 40px;
height: 50px;
left: 1360px;
min-width: 480px;
position: fixed;
top: 13px;
}

.langganan {
position: absolute;
letter-spacing: 0;
line-height: normal;
min-height: 20px;
min-width: 34px;
}

.overlap-button1 {
position: absolute;
align-items: center;
align-self: flex-start;
background-color: #F5E8C2;
border-radius: 55px;
display: flex;
height: 48px;
min-width: 90px;
padding: 0 28px;
opacity: 0,6;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.3s ease;
}

.overlap-button1:hover {
transform: scale(1.1); 
opacity: 1;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
background-color: #FFC107;
}

.button2 {
align-items: flex-end;
display: flex;
gap: 40px;
height: 50px;
left: 1530px;
min-width: 480px;
position: fixed;
top: 13px;
}

.login {
position: absolute;
letter-spacing: 0;
line-height: normal;
min-height: 20px;
min-width: 34px;
}

.overlap-button2 {
position: absolute;
align-items: center;
align-self: flex-start;
background-color: #F5E8C2;
border-radius: 55px;
display: flex;
height: 48px;
min-width: 90px;
padding: 0 28px;
opacity: 0,6;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.3s ease;
}

.overlap-button2:hover {
transform: scale(1.1); 
opacity: 1;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
background-color: #FFC107;
}

.button3 {
align-items: flex-end;
display: flex;
gap: 40px;
height: 50px;
left: 1700px;
min-width: 480px;
position: fixed;
top: 13px;
}



.register {
position: absolute;
letter-spacing: 0;
line-height: normal;
min-height: 20px;
min-width: 34px;
}

.overlap-button3 {
position: absolute;
align-items: center;
align-self: flex-start;
background-color: #F5E8C2;
border-radius: 55px;
display: flex;
height: 48px;
min-width: 90px;
padding: 0 28px;
opacity: 0,6;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: all 0.3s ease;
}

.overlap-button3:hover {
transform: scale(1.1); 
opacity: 1;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
background-color: #FFC107;
}

  /* Media queries for the responsiveness of the page */
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }

